@{
    Layout = null;
}

<style>
    .cuadro {
        border: 1px solid #000000;  /* Borde negro */
        background-color: #ffffff;  /* Fondo blanco */
        padding: 30px;              /* Espaciado interno */
        max-width: 700px;           /* Ancho del cuadro */
        margin: 20px auto;          /* Centrado */
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: #000000;
    }
</style>


<div class="course-detail-view">

    <a href="#" class="back-link" onclick="goBackToSummary(event)">&lt; Ir al resumen</a>

    <div class="course-header">
        <div class="course-info">
            <h1>ANTROPOLOGÍA FILOSÓFICA</h1>
            <br>
            <div class="info-row">
                <i class="fa-solid fa-user-tie icon-gray"></i>
                <strong>Profesor(a):</strong> <a href="#" class="prof-link">CYNTHIA MELISSA LLAUCE</a>
            </div>
            <div class="info-row">
                <i class="fa-solid fa-table-cells icon-gray"></i>
                <strong>Nro. de alumnos:</strong> 19
            </div>
        </div>

        <div class="mini-course-list">
            <div class="mini-course-item">
                <span class="code red">FAF</span> 
                <span class="course-title">ANTROPOLOGÍA FILOSÓFICA</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('FAF','ANTROPOLOGÍA FILOSÓFICA')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">FHD</span> 
                <span class="course-title">HISTORIA DEL DERECHO</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('FHD','HISTORIA DEL DERECHO')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">HC3</span> 
                <span class="course-title">HISTORIA Y CULTURA CONTEMPORÁNEA</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('HC3','HISTORIA Y CULTURA CONTEMPORÁNEA')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">JP1</span> 
                <span class="course-title">DERECHO PENAL 1</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('JP1','DERECHO PENAL 1')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">LF</span> 
                <span class="course-title">LÓGICA</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('LF','LÓGICA')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">PC1</span> 
                <span class="course-title">DERECHO CONSTITUCIONAL 1</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('PC1','DERECHO CONSTITUCIONAL 1')"></i>
                </button>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="tabs">
        <button class="tab active" onclick="mostrarPestana('evaluaciones', this)">Evaluaciones</button>
        <button class="tab" onclick="mostrarPestana('material', this)">Material</button>
        <button class="tab" onclick="mostrarPestana('asistencia', this)">Asistencia</button>
        <button class="tab" onclick="mostrarPestana('avisos', this)">Avisos</button>
        <button class="tab" onclick="mostrarPestana('alumnos', this)">Alumnos</button>
        <button class="tab" onclick="mostrarPestana('silabo', this)">Sílabo</button>
    </div>


    <div id="evaluaciones" class="contenido-tab">
        <!-- CUADRO CELESTE - PROMEDIOS -->
        <div class="subcuadro-celeste">
            <div class="promedios-container">
                <div class="promedio-box">
                    <span class="promedio-label"><b> Promedio sin dscto.: </b></span>
                    <span class="promedio-valor">12   </span>
                    <span class="promedio-label">  <b> Promedio Final:</b><span>
                    <span class="promedio-valor">12</span>
                </div>
            </div>
        </div>
        <div class="evaluation-section">
            <div class="section-header">Práctica</div>
            <table class="grades-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Evaluación</th>
                        <th>Peso</th>
                        <th>Anulable</th>
                        <th>Informativa</th>
                        <th>Estado</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>30-04-2026</td>
                        <td><a href="#">Práctica 1</a></td>
                        <td>2</td>
                        <td><i class="fa-solid fa-check"></i></td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td>Acta cerrada</td>
                        <td class="grade-fail" style="color: rgb(17, 57, 165);">11</td>
                    </tr>
                    <tr>
                        <td>30-04-2026</td>
                        <td><a href="#">Práctica 2</a></td>
                        <td>2</td>
                        <td><i class="fa-solid fa-check"></i></td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td>Acta cerrada</td>
                        <td class="grade-fail" style="color: rgb(17, 57, 165);">13</td>
                    </tr>
                    <tr>
                        <td>30-04-2026</td>
                        <td><a href="#">Práctica 3</a></td>
                        <td>2</td>
                        <td><i class="fa-solid fa-check"></i></td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td>Acta cerrada</td>
                        <td class="grade-fail" style="color: rgb(17, 57, 165);">12</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="evaluation-section">
            <div class="section-header">Examen</div>
            <table class="grades-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Evaluación</th>
                        <th>Peso</th>
                        <th>Anulable</th>
                        <th>Informativa</th>
                        <th>Estado</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12-05-2026</td>
                        <td><a href="#">Examen 1</a></td>
                        <td>3</td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td>Acta cerrada</td>
                        <td class="grade-fail" style="color: rgb(17, 57, 165);">11</td>
                    </tr>

                    <tr>
                        <td>02-07-2026</td>
                        <td><a href="#">Examen 2</a></td>
                        <td>3</td>
                        <td><i class="fa-solid fa-check"></i></td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td>Acta cerrada</td>
                        <td class="grade-fail" style="color: rgb(17, 57, 165);">12</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>

        <H3>DETALLE DE EVALUACIÓN</H3>

        <br>

        <div class="cuadro">
        <strong>Estándar (Promedio ponderado)</strong>
        <br /><br />
        El cálculo de promedio estándar considerará el peso de cada evaluación anulando la práctica con la menor nota y reemplazando la nota menor obtenida en un examen por la del sustituto si es que fuera el caso.  
        Para esta asignatura la fórmula estándar es:
        <br /><br />
        <!-- CUADRO AMARILLO - SOLO FÓRMULA -->
        <div class="subcuadro-amarillo">

                [(Examen 1) × 3 + (Práctica 1) × 2 + (Práctica 5) × 2 + (Práctica 6) × 2 - (NotaMenor) × 1] / 8

        </div>
        
        <!-- CUADRO CELESTE - NOTA ADICIONAL -->
        <div class="subcuadro-celeste">
            Donde <span class="">Nota Menor</span> solo se restará si favorece al alumno y puede ser cualquiera de las siguientes: 
            <span class="">Práctica 1</span>, <span class="">Práctica 5</span>, <span class="">Práctica 6</span>
        </div>
        
        </div>
    </div>

    <div id="material" class="contenido-tab" style="display:none;">
        <div class="mensaje-no-disponible">
            <h4>ESTE CONTENIDO YA NO ESTÁ DISPONIBLE</h4>
        </div>
    </div>

    <div id="asistencia" class="contenido-tab" style="display:none;">
        <div class="mensaje-no-disponible">
        <h4>ESTE CONTENIDO YA NO ESTÁ DISPONIBLE</h4>
        </div>
    </div>

    <div id="avisos" class="contenido-tab" style="display:none;">
        <div class="mensaje-no-disponible">
            <h4>ESTE CONTENIDO YA NO ESTÁ DISPONIBLE</h4>
        </div>
    </div>

    <div id="alumnos" class="contenido-tab" style="display:none;">
        <div class="mensaje-no-disponible">
            <h4>ALESSIA MORENO</h4>
        </div>
    </div>

    <div id="silabo" class="contenido-tab" style="display:none;">
        <div class="mensaje-no-disponible">
            <h4>ESTE CONTENIDO YA NO ESTÁ DISPONIBLE</h4>
        </div>
    </div>

</div>

<script>
function mostrarPestana(id, boton){

    // Oculta todos los contenidos
    document.querySelectorAll(".contenido-tab").forEach(function(tab){
        tab.style.display = "none";
    });

    // Muestra el contenido seleccionado
    document.getElementById(id).style.display = "block";

    // Quita la clase active de todos los botones
    document.querySelectorAll(".tab").forEach(function(btn){
        btn.classList.remove("active");
    });

    // Activa el botón seleccionado
    boton.classList.add("active");
}
</script>
