@{
    Layout = null;
}

<div class="course-detail-view">

    <a href="#" class="back-link" onclick="goBackToSummary(event)">&lt; Ir al resumen</a>

    <div class="course-header">
        <div class="course-info">
            <h1 class="hola">DERECHO CONSTITUCIONAL 1</h1>
            <br>
            <div class="info-row">
                <i class="fa-solid fa-user-tie icon-gray"></i>
                <strong>Profesor(es):</strong> <a href="#" class="prof-link">CARMEN PAULA DAVILA , JOSE LUIS SARDON</a>
            </div>
            <div class="info-row">
                <i class="fa-solid fa-table-cells icon-gray"></i>
                <strong>Nro. de alumnos:</strong> 68
            </div>
        </div>

        <div class="mini-course-list">
            <div class="mini-course-item"><span class="code red">FAF</span> ANTROPOLOGÍA FILOSÓFICA <i class="fa-solid fa-magnifying-glass icon-gray"></i></div>
            <div class="mini-course-item"><span class="code red">FHD</span> HISTORIA DEL DERECHO <i class="fa-solid fa-magnifying-glass icon-gray"></i></div>
            <div class="mini-course-item"><span class="code red">HC3</span> HISTORIA Y CULTURA CONTEMPORÁNEA <i class="fa-solid fa-magnifying-glass icon-gray"></i></div>
            <div class="mini-course-item"><span class="code red">JP1</span> DERECHO PENAL 1 <i class="fa-solid fa-magnifying-glass icon-gray"></i></div>
            <div class="mini-course-item"><span class="code red">LF</span> LÓGICA 1 <i class="fa-solid fa-magnifying-glass icon-gray"></i></div>
            <div class="mini-course-item"><span class="code red">PC1</span> DERECHO CONSTITUCIONAL 1 <i class="fa-solid fa-magnifying-glass icon-gray"></i></div>
        </div>
    </div>
    
    <br>
    <br> 

    <div class="tabs">
        <button class="tab active">Evaluaciones</button>
        <button class="tab">Material</button>
        <button class="tab">Asistencia</button>
        <button class="tab">Avisos</button>
        <button class="tab">Alumnos</button>
        <button class="tab">Sílabo</button>
    </div>

    
    <div class="evaluation-section">
        <div class="section-header">Examen</div>
            <table class="grades-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Evaluación</th>
                        <th>Peso</th>
                        <th>Anulable</th>
                        <th>Informativa</th>
                        <th>Estado</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>19-05-2026</td>
                        <td><a href="#">Examen 1</a></td>
                        <td>50</td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td>Acta cerrada con reclamos corregidos</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>08-07-2026</td>
                        <td><a href="#">Examen 2</a></td>
                        <td>50</td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td><i class="fa-solid fa-xmark"></i></td>
                        <td>Acta cerrada con reclamos corregidos</td>
                        <td>15</td>
                    </tr>
                </tbody>
            </table>
    </div>     
</div>
