@{
    Layout = null;
}

<div class="course-detail-view">

    <a href="#" class="back-link" onclick="goBackToSummary(event)">&lt; Ir al resumen</a>

    <div class="course-header">
        <div class="course-info">
            <h1>LÓGICA</h1>
            <br>
            <div class="info-row">
                <i class="fa-solid fa-user-tie icon-gray"></i>
                <strong>Profesor(a):</strong> <a href="#" class="prof-link">MARÍA INÉS BAYAS</a>
            </div>
            <div class="info-row">
                <i class="fa-solid fa-table-cells icon-gray"></i>
                <strong>Nro. de alumnos:</strong> 59
            </div>
        </div>

    <div class="mini-course-list">
            <div class="mini-course-item">
                <span class="code red">FAF</span> 
                <span class="course-title">ANTROPOLOGÍA FILOSÓFICA</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('FAF','ANTROPOLOGÍA FILOSÓFICA')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">FHD</span> 
                <span class="course-title">HISTORIA DEL DERECHO</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('FHD','HISTORIA DEL DERECHO')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">HC3</span> 
                <span class="course-title">HISTORIA Y CULTURA CONTEMPORÁNEA</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('HC3','HISTORIA Y CULTURA CONTEMPORÁNEA')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">JP1</span> 
                <span class="course-title">DERECHO PENAL 1</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('JP1','DERECHO PENAL 1')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">LF</span> 
                <span class="course-title">LÓGICA</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('LF','LÓGICA')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">PC1</span> 
                <span class="course-title">DERECHO CONSTITUCIONAL 1</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('PC1','DERECHO CONSTITUCIONAL 1')"></i>
                </button>
            </div>
        </div>

    </div>

    <br>
    <br>

    <div class="tabs">
        <button class="tab active">Evaluaciones</button>
        <button class="tab">Material</button>
        <button class="tab">Asistencia</button>
        <button class="tab">Avisos</button>
        <button class="tab">Alumnos</button>
        <button class="tab">Sílabo</button>
    </div>
    <!-- CUADRO CELESTE - PROMEDIOS -->
    <div class="subcuadro-celeste">
        <div class="promedios-container">
            <div class="promedio-box">
                <span class="promedio-label"><b> Promedio sin dscto.: </b></span>
                <span class="promedio-valor">17   </span>
                <span class="promedio-label">  <b> Promedio Final:</b><span>
                <span class="promedio-valor">17</span>
            </div>
        </div>
    </div>
    <div class="evaluation-section">
        <div class="section-header">Práctica</div>
        <table class="grades-table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Evaluación</th>
                    <th>Peso</th>
                    <th>Anulable</th>
                    <th>Informativa</th>
                    <th>Estado</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>07-04-2026</td>
                    <td><a href="#">Práctica 1</a></td>
                    <td>2</td>
                    <td><i class="fa-solid fa-check"></i></td>
                    <td><i class="fa-solid fa-xmark"></i></td>
                    <td>Acta cerrada</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>19-05-2026</td>
                    <td><a href="#">Práctica 2</a></td>
                    <td>2</td>
                    <td><i class="fa-solid fa-check"></i></td>
                    <td><i class="fa-solid fa-xmark"></i></td>
                    <td>Acta cerrada</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>09-06-2026</td>
                    <td><a href="#">Práctica 3</a></td>
                    <td>2</td>
                    <td><i class="fa-solid fa-check"></i></td>
                    <td><i class="fa-solid fa-xmark"></i></td>
                    <td>Acta cerrada</td>
                    <td>18</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="evaluation-section">
        <div class="section-header">Examen</div>
        <table class="grades-table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Evaluación</th>
                    <th>Peso</th>
                    <th>Anulable</th>
                    <th>Informativa</th>
                    <th>Estado</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></i> 16-04-2026</td>
                    <td><a href="#">Examen 1</a></td>
                    <td>3</td>
                    <td><i class="fa-solid fa-check"></i></td>
                    <td><i class="fa-solid fa-xmark"></i></td>
                    <td>Acta cerrada</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td></i> 16-04-2026</td>
                    <td><a href="#">Examen 2</a></td>
                    <td>3</td>
                    <td><i class="fa-solid fa-check"></i></td>
                    <td><i class="fa-solid fa-xmark"></i></td>
                    <td>Acta cerrada</td>
                    <td>18</td>
                </tr>
            </tbody>
        </table>
    </div>
<br>

<h3>DETALLE DE EVALUACIÓN</h3>

<div class="cuadro">
        <strong>Personalizada</strong>
    <br /><br />
    Para esta asignatura la fórmula personalizada es:
    <br /><br />

    <!-- CUADRO AMARILLO - SOLO FÓRMULA -->
    <div class="subcuadro-amarillo">
  
            PC1 20% + PC2 20% + PC3 20% + Examen parcial 30% + Examen final 30% (se anula la PC más baja)

    </div>
    
    <!-- CUADRO CELESTE - NOTA ADICIONAL -->

     <div class="subcuadro-celeste">
    Esta fórmula es referencial.
    </div>
    
</div>
</div>
