@{
    Layout = null;
}

<div class="course-detail-view">

    <a href="#" class="back-link" onclick="goBackToSummary(event)">&lt; Ir al resumen</a>

    <div class="course-header">
        <div class="course-info">
            <h1>DERECHO PENAL 1</h1>
            <br>
            <div class="info-row">
                <i class="fa-solid fa-user-tie icon-gray"></i>
                <strong>Profesor(es):</strong> <a href="#" class="prof-link">SEGUNDO ROLANDO MARQUEZ , PERCY RAPAHEL GARCÍA</a>
            </div>
            <div class="info-row">
                <i class="fa-solid fa-table-cells icon-gray"></i>
                <strong>Nro. de alumnos:</strong> 51
            </div>
        </div>

        <div class="mini-course-list">
            <div class="mini-course-item">
                <span class="code red">FAF</span> 
                <span class="course-title">ANTROPOLOGÍA FILOSÓFICA</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('FAF','ANTROPOLOGÍA FILOSÓFICA')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">FHD</span> 
                <span class="course-title">HISTORIA DEL DERECHO</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('FHD','HISTORIA DEL DERECHO')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">HC3</span> 
                <span class="course-title">HISTORIA Y CULTURA CONTEMPORÁNEA</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('HC3','HISTORIA Y CULTURA CONTEMPORÁNEA')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">JP1</span> 
                <span class="course-title">DERECHO PENAL 1</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('JP1','DERECHO PENAL 1')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">LF</span> 
                <span class="course-title">LÓGICA</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('LF','LÓGICA')"></i>
                </button>
            </div>
            <div class="mini-course-item">
                <span class="code red">PC1</span> 
                <span class="course-title">DERECHO CONSTITUCIONAL 1</span> 
                <button class="btn-search-mini">
                    <i class="fa-solid fa-magnifying-glass icon-gray" style="cursor:pointer" onclick="showCourseDetails('PC1','DERECHO CONSTITUCIONAL 1')"></i>
                </button>
            </div>
        </div>

    </div>

    <br>
    <br>

    <div class="tabs">
        <button class="tab active" onclick="mostrarPestana('evaluaciones', this)">Evaluaciones</button>
        <button class="tab" onclick="mostrarPestana('material', this)">Material</button>
        <button class="tab" onclick="mostrarPestana('asistencia', this)">Asistencia</button>
        <button class="tab" onclick="mostrarPestana('avisos', this)">Avisos</button>
        <button class="tab" onclick="mostrarPestana('alumnos', this)">Alumnos</button>
        <button class="tab" onclick="mostrarPestana('silabo', this)">Sílabo</button>
    </div>

    <!-- CUADRO CELESTE - PROMEDIOS -->
        <div class="subcuadro-celeste">
        <div class="promedios-container">
            <div class="promedio-box">
                <span class="promedio-label"><b> Promedio sin dscto.: </b></span>
                <span class="promedio-valor">14   </span>
                <span class="promedio-label">  <b> Promedio Final:</b><span>
                <span class="promedio-valor">14</span>
            </div>
        </div>
        </div>
        <div class="evaluation-section">
        <div class="section-header">Examen</div>
        <table class="grades-table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Evaluación</th>
                    <th>Peso</th>
                    <th>Anulable</th>
                    <th>Informativa</th>
                    <th>Estado</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>15-05-2026</td>
                    <td><a href="#">Examen Parcial</a></td>
                    <td>40</td>
                    <td><i class="fa-solid fa-xmark"></i></td>
                    <td><i class="fa-solid fa-xmark"></i></td>
                    <td>Acta cerrada</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>22-06-2026</td>
                    <td><a href="#">Examen Final</a></td>
                    <td>60</td>
                    <td><i class="fa-solid fa-xmark"></i></td>
                    <td><i class="fa-solid fa-xmark"></i></td>
                    <td>Acta cerrada</td>
                    <td>14</td>
                </tr>
            </tbody>
        </table>
    
        </div>
        <br>

        <h3>DETALLE DE EVALUACIÓN</h3>

        <div class="cuadro">
    <!-- CUADRO AMARILLO - SOLO FÓRMULA -->
    <div class="subcuadro-amarillo">
        Examen parcial 40% + Examen final 60% Ambos exámenes serán escritos y podrán consistir en preguntas de verdadero o falso, opciones múltiple o de desarrollo. Si se trata de elegir la opción correcta o indicar V o F, se tendrá que argumentar la elección. Para que la respuesta sea válida y obtener puntaje, tanto el argumento como la elección deben ser correctas.
    
        El examen parcial abarcará las materias desarrolladas hasta una semana antes del mismo, salvo indicación distinta del profesor. En el examen final, se evaluará todo el curso, para todos.
    
        Las fechas de los exámenes se anunciarán en su momento, de forma oportuna. Dada la asignación de porcentajes, para aprobar el curso, debe aprobarse el examen final, de lo contrario se deberá rendir el examen de aplazados, que también será escrito, donde se evaluará todo el curso.
    
        El promedio se obtendrá atendiendo a los pesos establecidos en las evaluaciones. Si se ha aprobado el final, pero el promedio es igual o menor a 10, se colocará 11.
        <br />
    </div>

  
    
    <!-- CUADRO CELESTE - NOTA ADICIONAL -->
    <div class="subcuadro-celeste">
    Esta fórmula es referencial.
    </div>
        </div>



</div>
